<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/adminDashboard.css">
</head>

<body>
    <div class="dashboard-container">
        <header class="header">
            <h1>Admin Dashboard — <%= username %>
            </h1>
            <button id="logout-btn" class="logout-btn">Logout</button>
        </header>

        <main class="main">
            <aside class="navigation">
                <h3>Navigation</h3>
                <nav>
                    <a href="/admin/navigateDepartments">Departments</a>
                    <a href="/admin/navigateUsers">Users</a>
                    <a href="/admin/navigateAddUsers">Add User</a>
                </nav>
            </aside>

            <section class="overview">

            </section>
        </main>

        <footer class="footer">
            <p>© 2025 Admin Dashboard. All rights reserved.</p>
        </footer>
    </div>
</body>

</html>